body {
    background-image: url("../images/nature-background-backgrounds-galaxy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    min-height: 700px;
    }
.heading {
	background-color:blue;
	margin: 20px 80px;
border-radius: 12px;
}

@font-face {
	font-family: testfont;
	src: url("../fonts/testfont.ttf");
}



.customheading {
    font-size: 60px;
    margin: 0px;
    font-family: 'Courier New', monospace;
    color: white;
    text-align: center;
}

.navigation {
	background-color: blue;
	margin-left: 65px;
	margin-right: 65px;
	margin-bottom: 20px;
	border-radius: 12px;
	
}

nav a {
	color: white;
	display: inline-block;
	margin-left: 30px;
	text-decoration: none;
	padding: 15px;
	font-family: 'Courier New', monospace;
}

nav a:hover {
	background-color: #3f9bfa;
	transition: 1s;
}

.maincontent {
background-color:blue;
color: white;
margin-left: 60px;
margin-right: 60px;
padding: 30px;
border-radius: 10px;


}

.maincontent p {
line-height: 1.6;
}

@media only screen and (max-width: 534px) {
	.customheading {
	font-size: 30px;
	}
}

